@import 'blocks/header';
@import 'blocks/viewed';
@import 'blocks/anime';
@import 'blocks/releases';
@import 'blocks/store';
@import 'blocks/top';
@import 'blocks/downloads';
@import 'blocks/footer';
@import 'blocks/anime__jujutsu';
@import 'blocks/review';
@import 'blocks/comments';
@import 'blocks/list__anime';
@import 'blocks/anime__a-channel';
@import 'blocks/episodes';
@import 'blocks/wallpapers';
@import 'blocks/mangas';
@import 'blocks/manga';
@import 'blocks/manga__store';
@import 'blocks/store__choise';
@import 'blocks/categories';
@import 'blocks/shop';
@import 'blocks/genre';
@import 'blocks/basket';
@import 'blocks/trash';
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.home {
    background: linear-gradient(90deg, rgba(16, 8, 38, 1) 16%, rgba(42, 31, 66, 1) 49%, rgba(16, 7, 40, 1) 90%);
}