.store {
    min-height: 550px;
    margin-top: 100px;
    &__anime {
        &-header {
            display: flex;
            justify-content: space-between;
            padding: 15px 25px;
            width: 1200px;
            background: #170e2e;
            border: 2px solid #4b3a73;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            .store__info {
                display: flex;
            }
            .store__anime-title {
                font-weight: 700;
                font-size: 25px;
                color: #FFFFFF;
                margin-left: 20px;
                margin-top: 9px;
            }
            .store__anime-icon {
                margin-top: 5px;
            }
        }
        .store__anime-items {
            display: flex;
            padding: 40px 20px;
            background: linear-gradient(90deg, #34265c 0, #34265c 16%, #754672 74%);
            border-radius: 0 0 20px 20px;
            justify-content: center;
        }
        .store__anime-item {
            background: #170e2e;
            border: 2px solid #4b3a73;
            border-radius: 20px;
            padding: 35px 30px;
            margin-right: 80px;
        }
        .store__anime-block {
            background: #170e2e;
            border: 2px solid #4b3a73;
            border-radius: 20px;
            padding: 35px 30px;
        }
        .store__anime-text {
            font-weight: 700;
            font-size: 24px;
            color: #FFFFFF;
            text-align: center;
            margin-top: 5px;
        }
        .store__anime-subtitle {
            font-weight: 500;
            font-size: 24px;
            color: #FFFFFF;
            margin-top: 10px;
            text-align: center;
        }
    }
}