.trash {
    min-height: 880px;
    margin-top: 60px;
    &__header {
        padding: 15px 25px;
        width: 1200px;
        background: #170e2e;
        border: 2px solid #4b3a73;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        .trash__header-title {
            font-weight: 700;
            font-size: 36px;
            color: #FFFFFF;
            margin-left: 15px;
        }
    }
    .trash__items {
        position: relative;
        padding: 30px 80px;
        background: linear-gradient(90deg, #34265c 0, #34265c 16%, #754672 74%);
        border-radius: 0 0 20px 20px;
        .trash__choise {
            display: flex;
            &::after {
                content: '';
                position: absolute;
                border-bottom: 2px solid #170E2E;
                width: 100%;
                left: 0;
                top: 86px;
            }
            .trash__selected {
                font-weight: 500;
                font-size: 24px;
                color: #FFFFFF;
                border: 2px solid #1ABDF2;
                filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.25));
                border-radius: 15px;
                padding: 7px 13px;
                margin-right: 70px;
            }
            .trash__choise-title {
                font-weight: 500;
                font-size: 24px;
                color: #FFFFFF;
                margin-top: 7px;
            }
        }
    }
}

.trash__item {
    display: flex;
    margin-top: 40px;
}

.trash__btn {
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(89.13deg, #1E123E -126.07%, #754672 41.18%);
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}